.page {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.page-container {
  padding: 32px;
}

.center {
  margin-left: auto;
  margin-right: auto
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.pa4 {
  padding: 16px;
}

.mb4 {
  margin-bottom: 16px;
}

.mw-60 {
  max-width: 600px;
}

.mr4 {
  margin-right: 16px;
}

.info {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}