.page {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.page-container {
  padding: 32px;
}

.center {
  margin-left: auto;
  margin-right: auto
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.pa4 {
  padding: 16px;
}

.mb4 {
  margin-bottom: 16px;
}